.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    background-color:rgb(201, 223, 244);
    background-attachment: fixed;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.Logo{
    text-align: center;
    font-weight: bold;
    font-size: 20;
}
.nav-container-button{
    text-align: center;
    
}
.nav-button{
    border: none;
    background-color:rgb(201, 223, 244);
    font-size: 18px;
}

.nav-button:hover{
    color: rgb(255, 0, 242);
}